{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8" />
		<title>Story 3</title>
		<meta name="Story 3" content="" />
		<meta name="Teofanus Gary Setiawan" content="" />

		<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			href="//fonts.googleapis.com/css?family=Raleway&display=swap"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Sarala&display=swap"
			rel="stylesheet"
			type="text/css"
		/>

		<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />

		<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			rel="icon"
			type="image/png"
			href="{% static 'images/favicon.png' %}"
		/>
	</head>
	<body>
		<section class="bg-green-dark p-4">
			<header
				class="font-header text-center text-4xl text-white opacity-50 md:col-span-3 self-center mb-4"
			>
				Hobbies
			</header>
			<div
				class="grid grid-rows-5 md:grid-cols-3 md:grid-rows-2 place-items-stretch"
			>
				<article
					class="border-solid border-4 border-black rounded-lg m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray text-center"
				>
					<img
						src="{% static 'images/Anime.jpg'%}"
						alt="Anime cover"
					/>
					<div class="p-4">
						<h3 class="text-xl font-secondary">Watching Anime</h3>
						<p>
							You can check my list of anime
							<a
								href="https://anilist.co/user/TheCryptZen/"
								target="_blank"
								rel="noopener noreferrer"
								class="font-bold"
								>here</a
							>
						</p>
					</div>
				</article>
				<article
					class="border-solid border-4 border-black rounded-lg m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray text-center"
				>
					<img
						src="{% static 'images/Manga.jpg' %}"
						alt="Manga cover"
					/>
					<div class="p-4">
						<h3 class="text-xl font-secondary">Reading Manga</h3>
						<br />
						<p class="font-tertiary">
							You can check my list of manga
							<a
								href="https://anilist.co/user/TheCryptZen/"
								target="_blank"
								rel="noopener noreferrer"
								class="font-bold"
								>here</a
							>
						</p>
					</div>
				</article>
				<article
					class="border-solid border-4 border-black rounded-lg m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray text-center"
				>
					<img
						src="{% static '/images/YouTube.jpg' %}"
						alt="Youtube cover"
					/>
					<div class="p-4">
						<h3 class="text-xl font-secondary">Watching Youtube</h3>
						<p class="font-tertiary">
							There are a lot of useful material on YouTube
						</p>
					</div>
				</article>
				<article
					class="border-solid border-4 border-black rounded-lg m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray text-center"
				>
					<img
						src="{% static 'images/Listening.jpg'%}"
						alt="Peoople listening to music cover"
					/>
					<div class="p-4">
						<h3 class="text-xl font-secondary">
							Listening to music
						</h3>
						<br />
						<p class="font-tertiary">
							I like to listen to music while studying or when I'm
							bored.
						</p>
					</div>
				</article>
				<article
					class="border-solid border-4 border-black rounded-lg m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray text-center"
				>
					<img
						src="{% static 'images/Sleeping.jpg'%}"
						alt="People sleeping cover"
					/>
					<div class="p-4">
						<h3 class="text-xl font-secondary">Sleeping</h3>
						<br />
						<p class="font-tertiary">
							That is a picture of somene sleeping. Sleeping has a
							lot of benefit and that's why it's one of my
							hobbies!
						</p>
					</div>
				</article>
			</div>
		</section>

		<footer
			id="contacts"
			class="bg-green-light grid grid-rows-2 place-items-center space-y-2 p-4 text-white"
		>
			<ul class="flex flex-row space-x-2">
				<li>
					<a
						href="https://www.linkedin.com/in/garyteofanus/"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-linkedin w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path
								d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
							/>
							<circle cx="4" cy="4" r="2" />
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://github.com/garyteofanus"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-github w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path
								d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
							/>
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/garyteofanus/"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-instagram w-8 h-8"
							viewBox="0 0 24 24"
						>
							<rect
								x="2"
								y="2"
								width="20"
								height="20"
								rx="5"
								ry="5"
							/>
							<path d="M16 11a4 4 0 11-3-3 4 4 0 013 3zM18 7h0" />
						</svg>
					</a>
				</li>
				<li>
					<a
						href="mailto:garyteofanus@gmail.com"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-mail w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path d="M4 4h16l2 2v12l-2 2H4l-2-2V6l2-2z" />
							<path d="M22 6l-10 7L2 6" />
						</svg>
					</a>
				</li>
			</ul>
			<p class="font-secondary">
				Made with <span>❤</span> by Teofanus Gary Setiawan
			</p>
		</footer>
	</body>
</html>
