{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta charset="utf-8" />
		<title>Story 3</title>
		<meta name="Story 3" content="" />
		<meta name="Teofanus Gary Setiawan" content="" />

		<!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			href="//fonts.googleapis.com/css?family=Raleway&display=swap"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;800&display=swap"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap"
			rel="stylesheet"
			type="text/css"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Sarala&display=swap"
			rel="stylesheet"
			type="text/css"
		/>

		<!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link rel="stylesheet" href="{% static 'css/index.css' %}" />

		<!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<link
			rel="icon"
			type="image/png"
			href="{% static 'images/favicon.png' %}"
		/>
	</head>

	<body>
		<section
			id="home"
			class="bg-fixed p-4"
			style="background-image: url({%static 'images/Hero.jpg'%})"
		>
			<nav
				class="flex flex-row text-orange-dark font-secondary justify-around"
			>
				<a href="#home">Home</a>
				<a href="#about-me" class="transition ease-in-out duration-700"
					>About Me</a
				>
				<a href="#projects">Projects</a>
				<a href="#skills">Skills</a>
				<a href="#contacts">Contact</a>
			</nav>

			<header
				class="text-6xl font-primary m-4 flex flex-col"
				style="padding-left: 15vw"
			>
				<p class="text-green font-extrabold">Teofanus</p>
				<p class="text-green opacity-50">Gary</p>
			</header>
			<p
				class="text-xl font-secondary text-orange-light place-items-center m-4"
				style="padding-left: 15vw"
			>
				An aspiring computer scientist
			</p>
			<ul
				class="flex flex-row space-x-2 m-4 text-white"
				style="padding-left: 15vw"
			>
				<li>
					<a
						href="https://www.linkedin.com/in/garyteofanus/"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-linkedin w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path
								d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
							/>
							<circle cx="4" cy="4" r="2" />
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://github.com/garyteofanus"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-github w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path
								d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
							/>
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/garyteofanus/"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-instagram w-8 h-8"
							viewBox="0 0 24 24"
						>
							<rect
								x="2"
								y="2"
								width="20"
								height="20"
								rx="5"
								ry="5"
							/>
							<path d="M16 11a4 4 0 11-3-3 4 4 0 013 3zM18 7h0" />
						</svg>
					</a>
				</li>
				<li>
					<a
						href="mailto:garyteofanus@gmail.com"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-mail w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path d="M4 4h16l2 2v12l-2 2H4l-2-2V6l2-2z" />
							<path d="M22 6l-10 7L2 6" />
						</svg>
					</a>
				</li>
			</ul>
		</section>

		<section
			id="about-me"
			class="flex flex-col md:flex-row bg-green-dark p-4"
		>
			<img
				src="{% static 'images/Profile.png' %}"
				alt="Profile Picture"
				class="rounded-full w-48 h-48 m-4"
			/>

			<div class="m-4 text-white font-tertiary">
				<p>Hello! 👋</p>
				<br />
				<p>
					My name is Teofanus Gary Setiawan. I’m a sophomore computer
					science student at University of Indonesia. I’m also an avid
					coffe lover to help me in my sleepless nights.
				</p>
				<br />
				<p>
					I have some
					<a
						class="font-bold"
						href="{% url 'hobby' %}"
						rel="noopener noreferrer"
						>hobby</a
					>
					that I like to do when I’m not busy programming.
				</p>
				<br />
				<p>My field of interest are programming and math.</p>
			</div>

			<header
				class="text-xl text-center text-white opacity-50 order-first md:order-last md:ml-32 font-header"
				style="writing-mode: vertical-rl; text-orientation: upright"
			>
				ABOUT ME
			</header>
		</section>

		<section
			id="projects"
			class="flex flex-col md:flex-row bg-green-light p-4"
		>
			<header
				class="text-xl font-header text-white opacity-50 text-center md:mr-32"
				style="writing-mode: vertical-lr; text-orientation: upright"
			>
				PROJECTS
			</header>

			<article
				class="border-solid border-black border-4 rounded-lg grid grid-rows-3 grid-cols-2 place-items-center p-4 m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-cover bg-center text-white"
				style="
					background-image: url({%static 'images/PokeProject.jpg'%});
				"
				;
			>
				<h3 class="col-span-2 text-2xl font-secondary">PokeProject</h3>
				<p class="text-center col-span-2 font-tertiary">
					Simple website of fun quizzes about pokemon
				</p>
				<a
					href="http://poke-project.herokuapp.com/"
					target="_blank"
					class="flex flex-row space-x-2"
					rel="noopener noreferrer"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-globe w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<circle cx="12" cy="12" r="10" />
						<path
							d="M2 12h20M12 2a15 15 0 014 10 15 15 0 01-4 10 15 15 0 01-4-10 15 15 0 014-10z"
						/>
					</svg>
					<h5 class="self-center font-secondary">Live Site</h5>
				</a>
				<a
					href="https://github.com/garyteofanus/pokeproject"
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row space-x-2"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-github w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<path
							d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
						/>
					</svg>
					<h5 class="self-center font-secondary">Repo</h5>
				</a>
			</article>

			<article
				class="border-solid border-4 border-black rounded-lg grid grid-rows-3 grid-col-2 place-items-center p-4 m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray"
			>
				<h3 class="col-span-2 text-2xl font-secondary">TP4 DDP1</h3>
				<p class="text-center col-span-2 font-tertiary">
					Web version of TP3 from Basics of Programming course
				</p>
				<a
					href=""
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row space-x-2"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-globe w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<circle cx="12" cy="12" r="10" />
						<path
							d="M2 12h20M12 2a15 15 0 014 10 15 15 0 01-4 10 15 15 0 01-4-10 15 15 0 014-10z"
						/>
					</svg>
					<h5 class="self-center font-secondary">Live Site</h5>
				</a>
				<a
					href="https://github.com/garyteofanus/programming-assignment-4"
					target="_blank"
					rel="noopener noreferrer"
					class="flex flex-row space-x-2"
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="feather feather-github w-6 h-6 self-center"
						viewBox="0 0 24 24"
					>
						<path
							d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
						/>
					</svg>
					<h5 class="self-center font-secondary">Repo</h5>
				</a>
			</article>

			<article
				class="border-solid border-4 border-black rounded-lg align-middle text-center p-4 m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray"
			>
				<h3 class="font-secondary">More Coming Soon ...</h3>
			</article>
		</section>

		<section
			id="skills"
			class="bg-green-dark flex flex-col md:flex-row md:justify-end p-4"
		>
			<article
				class="languanges border-solid border-4 border-black rounded-lg grid grid-cols-2 grid-rows-3 place-items-center space-x-2 space-y-5 p-4 m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray"
			>
				<h3 class="col-span-2 text-2xl font-secondary">Languanges</h3>
				<object
					data="{% static 'images/Java.svg' %}"
					type="image/svg+xml"
					class="h-16 w-16"
				>
					Java
				</object>
				<object
					data="{% static 'images/Python.svg' %}"
					type="image/svg+xml"
					class="h-16 w-16"
				>
					Python
				</object>
				<object
					data="{% static 'images/HTML5.svg' %}"
					type="image/svg+xml"
					class="h-16 w-16"
				>
					HTML5
				</object>
				<object
					data="{% static 'images/CSS3.svg' %}"
					type="image/svg+xml"
					class="h-16 w-16"
				>
					CSS3
				</object>
			</article>

			<article
				class="border-solid border-4 border-black rounded-lg grid grid-cols-2 grid-rows-3 place-items-center space-x-2 space-y-5 p-4 m-4 shadow-xl transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 bg-gray"
			>
				<h3 class="col-span-2 text-2xl font-secondary">Tools</h3>
				<object
					data="{% static 'images/VSCode.svg' %}"
					type="image/svg+xml"
					class="h-16 w-16"
				>
					VSCode
				</object>
				<object
					data="{% static 'images/Terminal.svg' %}"
					type="image/svg+xml"
					class="h-16 w-16"
				>
					Terminal
				</object>
			</article>

			<header
				class="text-xl font-header text-center text-white opacity-50 order-first md:order-last md:ml-32"
				style="writing-mode: vertical-rl; text-orientation: upright"
			>
				SKILLS
			</header>
		</section>

		<footer
			id="contacts"
			class="bg-green-light grid grid-rows-2 place-items-center space-y-2 p-4 text-white"
		>
			<ul class="flex flex-row space-x-2">
				<li>
					<a
						href="https://www.linkedin.com/in/garyteofanus/"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-linkedin w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path
								d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
							/>
							<circle cx="4" cy="4" r="2" />
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://github.com/garyteofanus"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-github w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path
								d="M9 19c-5 2-5-2-7-3m14 6v-4a3 3 0 00-1-2c3-1 7-2 7-7a5 5 0 00-2-4 5 5 0 000-4l-4 1a13 13 0 00-7 0L5 1a5 5 0 000 4 5 5 0 00-1 4c0 5 3 6 6 7a3 3 0 00-1 2v4"
							/>
						</svg>
					</a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/garyteofanus/"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-instagram w-8 h-8"
							viewBox="0 0 24 24"
						>
							<rect
								x="2"
								y="2"
								width="20"
								height="20"
								rx="5"
								ry="5"
							/>
							<path d="M16 11a4 4 0 11-3-3 4 4 0 013 3zM18 7h0" />
						</svg>
					</a>
				</li>
				<li>
					<a
						href="mailto:garyteofanus@gmail.com"
						target="_blank"
						rel="noopener noreferer"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-mail w-8 h-8"
							viewBox="0 0 24 24"
						>
							<path d="M4 4h16l2 2v12l-2 2H4l-2-2V6l2-2z" />
							<path d="M22 6l-10 7L2 6" />
						</svg>
					</a>
				</li>
			</ul>
			<p class="font-secondary">
				Made with <span>❤</span> by Teofanus Gary Setiawan
			</p>
		</footer>
	</body>
</html>
